<p class="Users__title"> Sign-in</p>

<section class="Users__new">
  <%= form_with url: sessions_path do |form| %>

    <div class = "Form__section">
      <p class = "FormInput__label" > Email id: </p>
      <%= form.email_field :email, class: "Form__input" %>
    </div>
    <div class = "Form__section">
      <p class = "FormInput__label" >Password: </p>
      <%= form.password_field :password, class: "Form__input" %>
    </div>
    <div class = "Form__section">
      <%= form.submit "Sign-in!", class: "Form__submit"%>
    <div>
  <% end %>
</section>
