
  <main class="TodoPageMain">
    <article>
      <h1 class="TodoPage__title">My Todo list</h1>
      <form class="AddTodo" action="/todos" method="POST">
        <input class="AddTodo__Text" type="text" placeholder="Whats Next?" name="todo_text">
        <input class="AddTodo__Date" type="date" name="due_date">
        <input class="AddTodo__Button" type="submit" placeholder="Add" value="Add">
      </form>

      <%= render partial: "todo-section", locals: {section_title: "Overdue", todos: Todo.overdue, show_duedate: true } %>
      <%= render partial: "todo-section", locals: {section_title: "Due Today", todos: Todo.duetoday , show_duedate: false } %>
      <%= render partial: "todo-section", locals: {section_title: "Due Later", todos: Todo.duelater, show_duedate: true  } %>

    </article>
  </main>
