.Home__contents {
  padding: 100px;

  align-items: center;
  justify-content: center;
  color: #453c52;
}

.Home__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.Home__authenticate {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
}

.User__Header {
  display: flex;
  padding: 10px;
  background-color: lightgrey;
  font-size: 18px;
  margin-top: 80px;
  margin-left: 420px;
  margin-right: 420px;
  justify-content: space-between;
  align-items: center;
}

.Flash__error {
  color: darkred;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 420px;
  margin-right: 420px;
  font-size: 12px;
}
