.TodoPageMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: #453c52;
}

.TodoPage__Title {
  font-family: OpenSans;
  font-size: 28px;
  color: #453c52;
  letter-spacing: 0.14px;
  margin-bottom: 10px;
}

.AddTodo__Text {
  font-family: OpenSans;
  font-size: 16px;
  color: #726a7e;
  letter-spacing: 0.1px;
}
.AddTodo__Date {
  font-family: OpenSans;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  border-radius: 4px;
  color: #453c52;
}

.AddTodo__Button {
  background: #48bb78;
  border-radius: 4px;
  font-family: OpenSans;
  font-size: 16px;
}

.TodoSection {
  margin-top: 12px;
}
.TodoSectionTitle {
  display: flex;
  margin-top: 20px;
  padding: 5px;
}
.TodoSectionTitle__Text {
  font-family: OpenSans-Semibold;
  font-size: 20px;
  color: #453c52;
  letter-spacing: 0.1px;
}
.TodoSectionTitle__RemainingCount {
  font-family: OpenSans;
  font-size: 12px;
  color: #453c52;
  letter-spacing: 0.09px;
  margin-left: 8px;
  padding: 7px;
}

.TodoItem {
  margin-left: 10px;
}
.TodoItem__Container {
  display: flex;
  font-family: OpenSans;
  color: #453c52;
  letter-spacing: 0.1px;
  padding: 5px;
}
.TodoItem__Checkbox {
  background: #ffffff;
  border: 1px solid #bfb8cc;
  margin-top: 6px;
  width: 25px;
}
.TodoItem__OverdueLabel {
  font-family: OpenSans;
  font-size: 8px;
  color: #c53030;
  letter-spacing: 0.09px;
  margin-left: 5px;
  margin-top: 4px;
}
.TodoItem__Text {
  font-family: OpenSans;
  font-size: 16px;
  margin-top: 4px;
}
.TodoItem__StrikedText {
  font-family: OpenSans;
  font-size: 16px;
  margin-top: 4px;
  text-decoration-line: line-through;
}
.TodoItem__Delete {
  /* <border: 1px solid #453C52; */
  margin-left: 5px;
  margin-top: 3px;
}

.TodoItem__Duemonth {
  font-size: 12px;
  letter-spacing: 0.09px;
  margin-left: 12px;
  margin-top: 6px;
}

.TodoItem:hover {
  background-color: lightgray;
  cursor: pointer;
}

.TodoItem__DeleteButton {
  visibility: hidden;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 2px;
}

.TodoItem:hover .TodoItem__DeleteButton {
  visibility: visible;
}
